@import "./_fonts.css";


@import "./base/_variables.css";
@import "./base/_layout.css";
@import "./base/_typography.css";

@import "./pages/_prices.css";


@import "./components/_buttons.css";
@import "./components/_header.css";
@import "./components/_footer.css";
@import "./components/_modals.css";
@import "./components/_hero-header.css";
@import "./components/_section-accordion.css";

@import "./components/sections/_home-about.css";
@import "./components/sections/_home-stories.css";
@import "./components/sections/_home-contact-cta.css";

@import "./components/sections/about/sections/_about-welcome.css";
@import "./components/sections/about/sections/_about-my-philosophy.css";

@import "./components/sections/contact/sections/_contact-hero.css";
@import "./components/sections/contact/sections/_contact-info.css";

@import "./components/sections/newborn/_hero.css";
@import "./components/sections/newborn/intro.css";
@import "./components/sections/newborn/reasons.css";
@import "./components/sections/newborn/gallery.css";

@import "./components/sections/gallery/gallery.css";

@import "./components/sections/author/_author.css";

@import "./components/sections/legal/_legal-page.css";


@import "./pages/_home.css";

.img-rotator{
    transition: opacity .26s ease;
    will-change: opacity;
}
.img-rotator.is-fading{
    opacity: 0;
}


